html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
  margin: 0px;
}

.menubar {
  background-color: rgb(38, 38, 38);
  color: rgb(169, 169, 169);
  padding: 0.8rem 2.4rem;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-item {
  margin-left: 1.5rem;
  display: inline-block;
}

.menubar .title {
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.menubar a {
  color: inherit;
  text-decoration: inherit;
  border-bottom: none;
}

.menubar ul {
  list-style-type: none;
}

footer {
  background-color: rgb(38, 38, 38);
  color: rgb(213, 213, 213);
  font-size: 0.8rem;
  padding: 28px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  margin-right: 8px;
  text-decoration: none;
  border: none;
}

#content {
  max-width: 768px;
  flex-grow: 1;
  margin: 2.5rem 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(50, 50, 50);
  line-height: 2.9rem;
  padding: 0.3rem 0rem;
  margin: 0;
  padding: 0;
}

h1 {
  text-transform: uppercase;
  letter-spacing: -0.04rem;
  word-spacing: 0.42rem;
  padding: 0.3rem 0rem;
  font-weight: normal;
  font-size: 2.6rem;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgb(172, 191, 240);
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.5em;
  padding: 0 0.15em;
}

sub {
  top: 0.4em;
}

hr {
  margin: 1.8rem 0.5rem;
  border-top: 0.1rem solid #c4c4c4;
}

/* Lists */
ul {
  list-style-position: outside;
  list-style-type: disc;
}

li {
  margin-bottom: 2rem;
}

li a {
  color: rgba(30, 64, 175);
  text-decoration: none;
}

li .title {
  font-size: 1.72rem;
}

li .subtitle {
  line-height: 1;
  font-size: 0.9rem;
  color: #828282;
}

article {
  margin-bottom: 6.2rem;
}

blockquote {
  margin-left: 0.3rem;
  border-left: 8px solid #d2d2d2;
  padding-left: 1.5rem;
  font-style: italic;
}

header a {
  border-bottom: 1px solid white;
}

.post ol {
  margin: 1.6rem 0rem;
}

.post li {
  margin-bottom: 0.25rem;
}

header {
  margin-bottom: 2.2rem;
  padding-left: 1.2rem;
  margin-left: -0.44rem;
  border-left: 0.5rem solid rgb(54, 83, 250);
  display: flex;
  flex-direction: column;
}

header .title {
  order: 2;
}

header .subtitle {
  order: 1;
  font-size: 0.88rem;
  text-transform: uppercase;
  color: #969696;
}

.post pre {
  font-family: 'Spot Mono', 'Monaco', monospace;
  line-height: 1.3;
  font-size: 0.9rem;
  overflow-x: scroll;
}
.post .footer {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #969696;
}

.post .footer a {
  width: 20px;
  height: 20px;
  margin-top: 1.1px;
  margin-right: 6px;
}

.post .footer svg {
  width: 100%;
  height: 100%;
}

/* display  */
.hidden {
  display: none;
}

.flex-center {
  display: flex;
  align-items: center;
}

@media (min-width: 40rem) {
  .sm\:block {
    display: block;
  }

  .menubar {
    padding: 1rem 3rem;
    justify-content: space-between;
  }

  .menubar .title {
    font-size: 1.5rem;
  }

  #content {
    margin: 3rem auto;
  }

  a {
    border-bottom: 1px solid rgb(172, 191, 240);
  }

  a:focus,
  a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
  }

  footer {
    padding: 16px 0px;
  }

  footer a:focus,
  header a:hover {
    border: none;
    text-decoration: none;
  }

  blockquote {
    margin: 1.6rem 3rem 1.8rem 1.2rem;
  }

  header {
    margin-bottom: 2.2rem;
  }
}

@media (orientation: landscape) {
  header {
    margin-left: -1.24rem;
  }
}
